In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from scipy.stats import linregress
import json
import requests

with open('climate_city_all (1).json') as f:
    data = json.load(f)

df = pd.json_normalize(data, record_path=None, meta=['id', 'name', 'state', 'country', ['coord', 'lon'], ['coord', 'lat']])
df.columns = ['ID', 'Name', 'State', 'Country', 'Longitude', 'Latitude']
df

                 ID           Name State Country  Longitude   Latitude
0             833.0  Ḩeşār-e Sefīd            IR  47.159401  34.330502
1            2960.0   ‘Ayn Ḩalāqīm            SY  36.321911  34.940079
2            3245.0         Taglag            IR  44.983330  38.450001
3            3530.0       Qabāghlū            IR  46.168499  36.173302
4            5174.0        ‘Arīqah            SY  36.483360  32.889809
...             ...            ...   ...     ...        ...        ...
209574    8261417.0       Recoleta            CL -70.636383 -33.408810
209575    8277210.0        Beldibi            TR  30.707411  40.592731
209576   10722858.0   Forsytheganj            BY  29.733333  52.633333
209577   71296900.0      Голубинка            UA  33.920000  44.590000
209578  102908597.0         Gerton            US -82.348056  35.479167

[209579 rows x 6 columns]

In [2]:
filtered_df = df[df['Country'] == 'US']
filtered_df['full_name'] = filtered_df['Name'] + ', ' + filtered_df['State']
filtered_df.reset_index(drop=True, inplace=True)
filtered_df

/var/folders/fy/vbgdzndn1hld6ljr8tll82_m0000gn/T/ipykernel_8308/707295130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['full_name'] = filtered_df['Name'] + ', ' + filtered_df['State']

,ID,Name,State,Country,Longitude,Latitude,full_name
0,4046255.0,Bay Minette,AL,US,-87.773048,30.882959,"Bay Minette, AL"
1,4046274.0,Edna,TX,US,-96.646088,28.978590,"Edna, TX"
2,4046319.0,Bayou La Batre,AL,US,-88.248520,30.403521,"Bayou La Batre, AL"
3,4046332.0,Henderson,TX,US,-94.799377,32.153221,"Henderson, TX"
4,4046430.0,Natalia,TX,US,-98.862534,29.189680,"Natalia, TX"
...,...,...,...,...,...,...,...
19967,8122840.0,Western Community Park,KS,US,-97.680717,38.367432,"Western Community Park, KS"
19968,8122866.0,Happy Homes Park,KS,US,-99.976273,37.745800,"Happy Homes Park, KS"
19969,8123060.0,Western Mobile Home Park South,KS,US,-100.939072,37.037350,"Western Mobile Home Park South, KS"
19970,8260172.0,West Greenwich,RI,US,-71.660042,41.637001,"West Greenwich, RI"
19971,102908597.0,Gerton,,US,-82.348056,35.479167,"Gerton,"

# Import CSV's

In [3]:
days_pending_csv = 'Resources_Clean/clean_median_days_pending_week_all.csv'
days_to_pending_df = pd.read_csv(days_pending_csv)

In [4]:
days_to_pending_df

,Region ID,Size Rank,Region Name,Region Type,State Name,Date,Median Days Pending,Median Days Pending Rolling Avg
0,394913,1,"New York, NY",msa,NY,2018-01-06,84.0,NaN
1,394913,1,"New York, NY",msa,NY,2018-01-13,87.0,NaN
2,394913,1,"New York, NY",msa,NY,2018-01-20,86.0,85.666667
3,394913,1,"New York, NY",msa,NY,2018-01-27,94.0,89.000000
4,394913,1,"New York, NY",msa,NY,2018-02-03,78.0,86.000000
...,...,...,...,...,...,...,...,...
12195,395009,237,"Punta Gorda, FL",msa,FL,2023-10-07,39.0,37.333333
12196,395009,237,"Punta Gorda, FL",msa,FL,2023-10-14,35.0,35.333333
12197,395009,237,"Punta Gorda, FL",msa,FL,2023-10-21,32.0,35.333333
12198,395009,237,"Punta Gorda, FL",msa,FL,2023-10-28,33.0,33.333333
12199,395009,237,"Punta Gorda, FL",msa,FL,2023-11-04,35.0,33.333333

In [5]:
pending_cities_rough = pd.merge(days_to_pending_df, filtered_df, left_on=['Region Name'], right_on = ['full_name'])
pending_cities_rough

,Region ID,Size Rank,Region Name,Region Type,State Name,Date,Median Days Pending,Median Days Pending Rolling Avg,ID,Name,State,Country,Longitude,Latitude,full_name
0,394913,1,"New York, NY",msa,NY,2018-01-06,84.0,NaN,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
1,394913,1,"New York, NY",msa,NY,2018-01-13,87.0,NaN,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
2,394913,1,"New York, NY",msa,NY,2018-01-20,86.0,85.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
3,394913,1,"New York, NY",msa,NY,2018-01-27,94.0,89.000000,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
4,394913,1,"New York, NY",msa,NY,2018-02-03,78.0,86.000000,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11585,395009,237,"Punta Gorda, FL",msa,FL,2023-10-07,39.0,37.333333,4169452.0,Punta Gorda,FL,US,-82.045372,26.929779,"Punta Gorda, FL"
11586,395009,237,"Punta Gorda, FL",msa,FL,2023-10-14,35.0,35.333333,4169452.0,Punta Gorda,FL,US,-82.045372,26.929779,"Punta Gorda, FL"
11587,395009,237,"Punta Gorda, FL",msa,FL,2023-10-21,32.0,35.333333,4169452.0,Punta Gorda,FL,US,-82.045372,26.929779,"Punta Gorda, FL"
11588,395009,237,"Punta Gorda, FL",msa,FL,2023-10-28,33.0,33.333333,4169452.0,Punta Gorda,FL,US,-82.045372,26.929779,"Punta Gorda, FL"
11589,395009,237,"Punta Gorda, FL",msa,FL,2023-11-04,35.0,33.333333,4169452.0,Punta Gorda,FL,US,-82.045372,26.929779,"Punta Gorda, FL"

In [6]:
pending_cities_reduced = pending_cities_rough[(pending_cities_rough['Size Rank'] < 10) & (pending_cities_rough['Date'] < '2023-01') & (pending_cities_rough['Date'] > '2019-12')]

In [7]:
pending_cities_reduced.reset_index(drop=True, inplace=True)
pending_cities_reduced

,Region ID,Size Rank,Region Name,Region Type,State Name,Date,Median Days Pending,Median Days Pending Rolling Avg,ID,Name,State,Country,Longitude,Latitude,full_name
0,394913,1,"New York, NY",msa,NY,2019-12-07,70.0,67.333333,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
1,394913,1,"New York, NY",msa,NY,2019-12-14,76.0,71.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
2,394913,1,"New York, NY",msa,NY,2019-12-21,72.0,72.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
3,394913,1,"New York, NY",msa,NY,2019-12-28,80.0,76.000000,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
4,394913,1,"New York, NY",msa,NY,2020-01-04,84.0,78.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,394347,9,"Atlanta, GA",msa,GA,2022-12-03,32.0,28.666667,4180439.0,Atlanta,GA,US,-84.387978,33.749001,"Atlanta, GA"
962,394347,9,"Atlanta, GA",msa,GA,2022-12-10,33.0,31.000000,4180439.0,Atlanta,GA,US,-84.387978,33.749001,"Atlanta, GA"
963,394347,9,"Atlanta, GA",msa,GA,2022-12-17,35.0,33.333333,4180439.0,Atlanta,GA,US,-84.387978,33.749001,"Atlanta, GA"
964,394347,9,"Atlanta, GA",msa,GA,2022-12-24,35.0,34.333333,4180439.0,Atlanta,GA,US,-84.387978,33.749001,"Atlanta, GA"
965,394347,9,"Atlanta, GA",msa,GA,2022-12-31,42.0,37.333333,4180439.0,Atlanta,GA,US,-84.387978,33.749001,"Atlanta, GA"

In [8]:
api_key = "048bfbdf25a77253843c286cd380e065"

# Function to make API calls and extract temperature information
def get_temperature(row):
    lat = row['Latitude']
    lon = row['Longitude']
    date = row['Date']

    api_url = f"https://api.openweathermap.org/data/3.0/onecall/day_summary?lat={lat}&lon={lon}&date={date}&appid={api_key}"

    try:
        response = requests.get(api_url)
        data = response.json()

        morning_temp = data['temperature']['morning']
        afternoon_temp = data['temperature']['afternoon']
        evening_temp = data['temperature']['evening']
        night_temp = data['temperature']['night']

        # Calculate the average temperature
        avg_temp = (morning_temp + afternoon_temp + evening_temp + night_temp) / 4
        return avg_temp
    except Exception as e:
        print(f"Error fetching data for {lat}, {lon}, {date}: {e}")
        return None
    
    
pending_cities_reduced['Temperature'] = pending_cities_reduced.apply(get_temperature, axis=1)

pending_cities_reduced.head()

/var/folders/fy/vbgdzndn1hld6ljr8tll82_m0000gn/T/ipykernel_8308/2602892426.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pending_cities_reduced['Temperature'] = pending_cities_reduced.apply(get_temperature, axis=1)

,Region ID,Size Rank,Region Name,Region Type,State Name,Date,Median Days Pending,Median Days Pending Rolling Avg,ID,Name,State,Country,Longitude,Latitude,full_name,Temperature
0,394913,1,"New York, NY",msa,NY,2019-12-07,70.0,67.333333,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",269.9300
1,394913,1,"New York, NY",msa,NY,2019-12-14,76.0,71.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",275.8075
2,394913,1,"New York, NY",msa,NY,2019-12-21,72.0,72.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",261.2150
3,394913,1,"New York, NY",msa,NY,2019-12-28,80.0,76.000000,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",278.0075
4,394913,1,"New York, NY",msa,NY,2020-01-04,84.0,78.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",278.7225

In [10]:
pending_cities_reduced['Temperature (Farenheit)'] = round(9 / 5 * (pending_cities_reduced['Temperature'] - 273.15) + 32, 3)
pending_cities_reduced.head()

/var/folders/fy/vbgdzndn1hld6ljr8tll82_m0000gn/T/ipykernel_8308/1260783076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pending_cities_reduced['Temperature (Farenheit)'] = round(9 / 5 * (pending_cities_reduced['Temperature'] - 273.15) + 32, 3)

,Region ID,Size Rank,Region Name,Region Type,State Name,Date,Median Days Pending,Median Days Pending Rolling Avg,ID,Name,State,Country,Longitude,Latitude,full_name,Temperature,Temperature (Farenheit)
0,394913,1,"New York, NY",msa,NY,2019-12-07,70.0,67.333333,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",269.9300,26.204
1,394913,1,"New York, NY",msa,NY,2019-12-14,76.0,71.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",275.8075,36.784
2,394913,1,"New York, NY",msa,NY,2019-12-21,72.0,72.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",261.2150,10.517
3,394913,1,"New York, NY",msa,NY,2019-12-28,80.0,76.000000,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",278.0075,40.744
4,394913,1,"New York, NY",msa,NY,2020-01-04,84.0,78.666667,5128638.0,New York,NY,US,-75.499901,43.000351,"New York, NY",278.7225,42.030

In [12]:
csv_file_path = "Resources_Clean/clean_temperature_cities.csv"

pending_cities_reduced.to_csv(csv_file_path)